USE Wistful
GO

-- create a table to hold finalists
CREATE TABLE Finalist(
	FinalistName nvarchar(255),
	FinishedPosition int,
	SeriesNumber int,
	MentorId int
)

-- create table to hold their mentors
CREATE TABLE Mentor(
	MentorId int PRIMARY KEY,
	MentorName nvarchar(50)
)

INSERT Mentor (MentorId, MentorName) VALUES (1, N'Cheryl Cole')
INSERT Mentor (MentorId, MentorName) VALUES (2, N'Dannii Minogue')
INSERT Mentor (MentorId, MentorName) VALUES (3, N'Gary Barlow')

SELECT * FROM Mentor

